html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{ vertical-align:baseline;}/* vertical align baseline */
.vertical-top{  vertical-align:top;}/* vertical align top */
.underline{ padding-bottom:5px; border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{ display:block;}/* vertical menu */
nav.horizontal ul li{   display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*--login start here--*/
 body{
   font-size: 100%;
   background:#387296; 
   min-height:500px;
   background-size: cover;
   font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*---header start here--*/
.logo {
    text-align: center;
    margin-top: 2em;
}
.logo  h3 {
    font-size: 2.5em;
    color: #f3db0e;
}
.cart {
    width: 50%;
    margin: 3em auto 2em;
}
.cart-experience {
    float: left;
    width: 60%;
}
.cart-login {
    float: right;
    width: 40%;
}
.cart-experience h4 {
    font-size: 1.2em;
    color: #fff;
    margin-top: 3px;
}
.cart-top {
    padding: 1em 1em;
    background: #0c517d;
    border-radius: 5px 5px 0px 0px;
}
.cart-login-img {
    float: left;
    width: 13%;
}
.cart-login-text h5 {
    font-size: 1em;
    color: #fff;
    margin-top: 5px;
}
.cart-bottom {
    background: #fff;
    padding: 2em 2em;
}
.single-grid #quantity {
    width: 50px;
    height: 37px;
    display: inline-block;
    margin: 15px 10px 0 10px;
    padding: 9px 0px 8px;
    outline: none;
    text-align: center;
}
input#quantity {
    padding: 10px;
    width: 25%;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: inline-block;
        outline: none;
}
td.quantity {
    text-align: center;
}
td.cakes {
    padding: 1em 0em;
}
td {
    vertical-align: middle;
}
td.quantity {
    vertical-align: middle;
}
.cart-login-text {
    float: left;
    width: 35%;
}
.lang_list {
    float: right;
    width:50%;
}
select.dropdown {
    border: none;
    background:#0C517D;
    color:#FFFFFF;
    outline: none;
    font-size: 0.95em;
    vertical-align: -webkit-baseline-middle;
}
.dis-card {
    float: left;
    width: 50%;
}
tr.main-heading th {
    background: #ccc;
    padding: 1em 1.6em;
    font-size: 0.9em;
}
.product-text {
    padding: 0em 0em 0em 1em;
}
.dis-card h2 {
    font-size: 1.1em;
    color: #000;
}
.dis-card p {
    font-size: 0.9em;
    color: #000;
    line-height: 1.6em;
    margin: 0.8em 0em 0.8em 0em;
}
.dis-card input[type="text"] {
    font-size: 0.9em;
    color: #000;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline:none;
}
.dis-card input[type="submit"] {
    font-size: 0.9em;
    color: #fff;
    padding: 0.6em 1em;
    border: none;
    border-radius: 3px;
    background: #0b507c;
    outline:none;
    cursor:pointer;
}
.dis-card input[type="submit"]:hover{
     background:#3f3f3f;
}
.dis-total {
    float: right;
    width: 50%;
    text-align: right;
}
.dis-total h1 {
   font-size: 1.1em;
    color: #000;
    padding: 0.8em 2em;
    margin: 0.7em auto;
    background: #ccc;
    display: inline-block;
    text-align: right;
}
.tot-btn {
    margin-top: 1.3em;
}
tr.cake-top {
    border-bottom: 1px solid #ccc;
    position:relative;
}
.tot-btn button.shop {
    font-size: 0.8em;
    color: #FFF;
    padding: 0.8em 1em;
    background: #3f3f3f;
    border-radius: 3px;
}
.tot-btn button.shop:hover{
     background:#0b507c;
}
.tot-btn button.check{
    font-size: 0.8em;
    color: #FFF;
    padding: 0.8em 1em;
    background:#0b507c;
    border-radius: 3px;
}
.product-text h3 {
    font-size: 0.91em;
    color: #094e7a;
}
.product-text p {
    font-size: 0.8em;
    color: #000;
    line-height: 1.8em;
}
.tot-btn a.check:hover{
     background: #3f3f3f;
}
.table {
    border-bottom: 1px solid #ccc;
}
.vocher {
    padding: 1.1em 0em 0em 0em;
}
td.price {
    padding: 0em 1em;
}
.close {
    position: absolute;
    top:66%;
    right: 28%;
}
.close h5 .del{
    font-size: 0.75em;
    color: #FFFFFF;
    cursor: pointer;
    background: #0c517d;
    padding: 0.5em 1em;
    border-radius: 3px;
}
td.top-remove {
    position: relative;
}
td.btm-remove {
    position: relative;
}
.close-btm{
    position: absolute;
    top: 64%;
    right: 28%;
}
.close-btm h5 {
    font-size: 0.75em;
    color: #fff;
    cursor:pointer;
     background: #0c517d;
    padding: 0.5em 1em;
    border-radius: 3px;
}
.clear{
    clear:both;
}
/*--header end here--*/
/*---copyrights--*/
.copy-right {
    margin: 3em 0em 2em 0em;
}
.copy-right p {
    text-align: center;
    font-size:1em;
    color:#fff;
    line-height: 1.5em;
    font-family: 'Quicksand', sans-serif;
}
.copy-right p a{
  color:#fff;
}
.copy-right p a:hover{
     color:#f3db0e;
     transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*--media quiries start here--*/
@media (max-width:1600px){
.cart-experience {
    width: 50%;
}
.cart-login {
    width: 50%;
}   
}
@media (max-width:1440px){

}
@media (max-width:1366px){
.cart {
    width: 60%; 
}
}
@media (max-width:1280px){

}
@media (max-width:1024px){
.cart {
    width: 70%;
}   
}
@media (max-width:786px){
.cart {
    width: 90%;
}   
body {
    min-height: 865px;
}
}
@media (max-width:667px){
.cart {
    width: 95%;
}
.dis-card p {
    font-size: 0.8em;   
}
.tot-btn a.shop {
    font-size: 0.75em;
}
.tot-btn {
    margin-top: 0.9em;
}
}
@media (max-width:640px){
.cart-experience h4 {
    font-size: 0.9em;   
}
.cart-login-text h5 {
    font-size: 0.85em;
}
.cart-login {
    width: 55%;
}
.cart-experience {
    width: 40%;
}
.cart-login-img {
    width: 12%;
}
.cart-login-text {
    width: 30%;
}
.lang_list {
    width: 58%;
}
select.dropdown {
    font-size: 0.9em;
}
.dis-card p {
    font-size: 0.8em;
}
.dis-card input[type="text"] {
    width: 60%;
}
.dis-card input[type="submit"] {
    width: 30%;
}
.tot-btn a.check {
    font-size: 0.7em;
}
.tot-btn a.shop {
    font-size: 0.7em;
}
.dis-card input[type="submit"] {
    font-size: 0.8em;
    padding: 0.7em 1em;
}
.tot-btn {
    margin-top: 1em;
}
}
@media (max-width:600px){
.cart {
    width: 98%;
}
}
@media (max-width:568px){
.cart-login-text h5 {
    font-size: 0.8em;
}
.dis-card p {
    font-size: 0.75em;
}
.tot-btn a.shop {
    font-size: 0.65em;
}
.tot-btn a.check {
    font-size: 0.65em;
}
.tot-btn {
    margin-top: 0.5em;
}   
}
@media (max-width:480px){
.cart-experience {
    width: 100%;
    float: none;
    text-align: center;
}   
.cart-login {
    float: none;
    width: 80%;
    margin: 0 auto;
}
.cart-experience h4 {
    margin: 0em 0em 0.5em 0em;
}
td.cake-text {
    display: none;
}
th.long-txt {
    display: none;
}
tr.main-heading th {
    padding: 1em 1.35em;
}
.dis-card {
    float: none;
    width: 100%;
    margin: 0em 0em 1em 0em;
}
.dis-total {
    float: none;
    width: 100%;
}
.copy-right p {
    font-size: 0.85em;
}
.logo h3 {
    font-size: 2em;
}
.logo {
    margin-top: 1em;
}
.cart {
    margin: 1.5em auto 1em;
}
.cart-bottom {
    padding: 1em 1em;
}
.close h5 {
    padding: 0.4em 0.8em;
    font-size: 0.7em;
}
.close-btm h5 {
    padding: 0.4em 0.8em;
    font-size: 0.7em;
}
}
@media (max-width:414px){
.dis-card {
    margin: 0em 0em 0em 0em;
}
}
@media (max-width:384px){
tr.main-heading th {
    padding: 1em 1em;
}
input#quantity {
    padding: 5px;
    width: 40%; 
}
}
@media (max-width:320px){
.cart {
    width: 98%;
}
.cart-login-text h5 {
    font-size: 0.75em;
}
tr.main-heading th {
    padding: 1em 0.35em;
    font-size: 0.8em;
}
input#quantity {
    padding: 4px;
    width: 40%;
}
td.price h4 {
    font-size: 0.8em;
}
h4 {
    font-size: 0.8em;
}
.dis-card h2 {
    font-size: 1em;
}
.dis-card p {
    font-size: 0.75em;
    margin: 0.5em 0em 0.5em 0em;
}
.dis-card {
    margin: 0em;
}
.tot-btn {
    margin: 0.5em 0em;
}
.cart-login {
    width: 98%;
}
}
/*--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- reset code --*/
body{
	padding:0;
	margin:0;
	background:#FFF;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	padding:0;
}	
p{
	margin:0;
	padding:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
button{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
img {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- /reset code --*/
body {
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}
/*-- Top-Bar --*/
section.top-bar {
	background-color:transparent;
	z-index:9;
	position:relative;
} 
section.top-bar a.logo {
	text-decoration:none;
	position:absolute;
	z-index:99;
    top: 25px;
	left:75px;
	color:#fff;
	font-weight: 500;
	font-family: 'Viga', sans-serif;
}
section.top-bar a.logo h1 {
	font-size:35px;
}
section.top-bar ul.social-icons1 {
	list-style:none;
	position:absolute;
	z-index:99;
	top: 20px;
	right:105px;
}
section.top-bar ul.social-icons1 li {
	display:inline;
    margin-right:1px;
}
section.top-bar ul.social-icons1 li a i.fa.fa-facebook {
	background-color:#3b5998;
    width: 36px;
    height: 36px;
    line-height: 37px;
    border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	/*-- W3layouts --*/
    font-size: 17px;
	color:#fff;
	text-align: center;
    vertical-align: middle;	
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.top-bar ul.social-icons1 li a i.fa.fa-twitter {
	background-color:#55acee;
	    width: 36px;
    height: 36px;
    line-height: 37px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:17px;
	color:#fff;
	text-align: center;
    vertical-align: middle;
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.top-bar ul.social-icons1 li a i.fa.fa-linkedin {
	background-color:#e68523;
	   width: 36px;
    height: 36px;
    line-height: 32px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:17px;
	color:#fff;
	text-align: center;
    vertical-align: middle;
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.top-bar ul.social-icons1 li a i.fa.fa-google-plus {
	background-color:#dc4e41;
	  width: 36px;
    height: 36px;
    line-height: 35px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:15px;
	color:#fff;
	text-align: center;
    vertical-align: middle;
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.top-bar ul.social-icons1 li a i.fa.fa-facebook:hover {
	background-color:#002573;
}
section.top-bar ul.social-icons1 li a i.fa.fa-twitter:hover {
	background-color:#004A82;
}
section.top-bar ul.social-icons1 li a i.fa.fa-linkedin:hover { 
	background-color:#BB5E00;
}
section.top-bar ul.social-icons1 li a i.fa.fa-google-plus:hover { 
	background-color:#8A0B00;
}
/*-- /Top-Bar --*/
/*-- Navigation --*/
.nav>li>a {
	font-size:20px;
	font-weight:300;
	padding:10px 45px;
	line-height:30px;
	color:#fff!important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color:transparent;
}
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.navbar {
	/*-- Agile ITS --*/
	margin-bottom:0;
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
/* Effect 21: borders slight translate */
.cl-effect-21 a {
	padding: 10px;
	color: #237546;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	color: #fff;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
/*-- /Navigation --*/
/*-- Banner Section --*/
.carousel {
	height:880px;
}
.carousel-caption {
	z-index: 10;
	padding-bottom:0!important;
}
.carousel .item {
  height:880px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/*-- /Banner Section --*/
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) { 
/*-- W3layouts --*/
  .navbar-wrapper {
	margin-top: 75px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}
/*-- About Section --*/

/*-- /About Section --*/
/*-- back to top --*/
.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgb(68, 63, 58)!important;
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background:rgba(62, 58, 57, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
	background-size: 75%;
	visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .8;
}
.cd-top:hover {
  background-color:rgb(16, 16, 16);
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
	height: 40px;
    width: 40px;
    right: 30px;
    bottom: 30px;
  }
}
/*-- /back to top --*/
/*-- About Us --*/
section.about-us {
	padding:100px 0;
}
section.about-us h3.text-center {
	color:#948787;
}
section.about-us h3.text-center,section.our-services h3.text-center,section.our-info h3.text-center,section.our-gallery  h3.text-center,section.our-blog h3.text-center,section.curriculum h3.text-center,section.our-contacts h3.text-center   {
	font-size:40px;
	padding:20px 0;
	font-weight:500;
	font-family: 'Viga', sans-serif;
	    color: #222;
}
section.about-us p.text-center,section.our-services p.text-center,section.our-info p.text-center,section.our-gallery p.text-center,section.our-blog p.text-center,section.curriculum p.text-center, section.our-contacts p.text-center  {
	    font-size: 18px;
    font-weight: 400;
    padding: 0px 0 80px;
    color: #5F5C5C;
}
section.about-us .row.below {
    padding-top: 30px;
}
section.about-us .about-info p {
	    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
	/*-- Agile ITS --*/
    color: #777;
}
/*-- /About Us --*/
/*-- Our Services --*/
section.our-services {
	background:url(../images/service.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	padding:100px 0;
}
section.our-services h3.text-center {
	color:#fff;
}
section.our-services p.text-center {
	color:#fff;
}
section.our-services .serv-img-details {
    padding: 48px 50px 0 0;
}
section.our-services .serv-img-details h4 {
	font-size:20px;
	color:#fff;
	font-weight: 500;
	padding:0 0 10px;
	text-align:center;
	font-family: 'Viga', sans-serif;
} 
section.our-services .serv-img-details p {
	font-size:15px;
	color:#fff;
	font-weight:300;
	line-height: 23px;
	text-align:center;
}
section.our-services .serv-info {
    padding: 40px 0 70px;
}
section.our-services .serv-info p {
	    font-size:15px;
    font-weight: 400;
    line-height: 29px;
	color: #DAD8D8;
}
/*-- /Our Services --*/
/*-- Our Information --*/
section.our-info {
	padding:100px 0;
}
section.our-info h3.text-center {
	color:#969191;
} 
section.our-info .info-details h4 {
	font-size:20px;
	font-weight:500;
	padding:0 0 30px;
	font-family: 'Viga', sans-serif;
}
section.our-info .info-details p {
        font-size: 15px;
    font-weight: 400;
    line-height: 29px;
    color: #777;
    padding: 0 0 20px;
}
section.our-info img.img-responsive.main-img {
    margin-left: 13px;
}
section.our-info .info-pics {
    padding-top: 10px;
}
section.our-info .col-lg-6.col-md-6.col-sm-6.info-specs {
    padding: 0;
    margin: 0;
}
section.our-info .info-pics .col-lg-2.col-md-2.col-sm-2.info-images {
    padding: 0;
    margin: 0;
}
/*-- /Our Information --*/
/*-- Our Gallery --*/
section.our-gallery {
	background:url(../images/service.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	padding:100px 0;
}
section.our-gallery h3.text-center {
	color:#fff;
}
section.our-gallery p.text-center {
	color:#fff;
} 
.content {
	width: 100%;
	height: 100%;
	margin: 10px auto;
}
.mygallery{
	margin: 25px 0;
}	
@media screen and (min-width: 980px) /* Desktop */ {
	.content {
	width: 100%;
	}
}	

/*-- /Our Gallery --*/
/*-- Our Curriculum --*/
section.curriculum {
	    padding: 100px 0;
    background: #fff;
}
section.curriculum h3.text-center {
	    color: #222;
}
section.curriculum h4{
	font-size:25px;
	font-weight:500;
	padding:0 0 10px;
	font-family: 'Viga', sans-serif;
}
section.curriculum p.cur1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    color: #777;
	padding:0 0 30px;	
}
section.curriculum .curriculum-info i.fa.fa-fort-awesome {
        width: 62px;
    height: 62px;
    line-height: 57px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    border: 1px solid #000;
}
section.curriculum .curriculum-info i.fa.fa-book {
    width: 62px;
    height: 62px;
    line-height: 57px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    border: 1px solid #000;
}
section.curriculum .curriculum-info i.fa.fa-graduation-cap {
	    width: 62px;
    height: 62px;
    line-height: 57px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    border: 1px solid #000;
}
section.curriculum .curriculum-info h5 {
	margin:-58px 0 12px 75px;
	font-size:20px;
	font-weight:500;
	font-family: 'Viga', sans-serif;
}
section.curriculum .curriculum-info p.cur2 {
	    margin: 0 0 30px 75px;
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    color: #777;
} 
section.curriculum .video iframe {
	width: 610px;
    height: 350px;
}
/*-- /Our Curriculum --*/
/*-- Google Map --*/
section.map iframe.googlemaps {
	width:100%;
	height:400px;
}
/*-- /Google Map --*/
/*-- Contact Section --*/
section.our-contacts {
	background:url(../images/contact.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	padding:100px 0;
	color:#fff;
}
section.our-contacts h3.text-center {
	color:#fff;
	font-weight: 500;
	font-family: 'Viga', sans-serif;
}
section.our-contacts p.text-center {
    font-size: 18px;
    font-weight: 400;
    padding: 0px 0 80px;
    color: #fff;
}
section.our-contacts .form-control { 
	border: 1px solid rgba(99, 99, 99, 0);
    border-radius: 0px;
    height: 50px;
    padding: 16px 12px;
    font-size: 19px;
    color: #FFFFFF;
    outline: none;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.62);
}
input::-webkit-input-placeholder {
color:#fff!important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color:#fff!important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color:#fff!important;  
}
 
input:-ms-input-placeholder {  
color:#fff!important;  
}
textarea::-webkit-input-placeholder {
color:#fff!important;
}
 
textarea::-moz-placeholder { /* Firefox 18- */
color:#fff!important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color:#fff!important;  
}
 
textarea::-ms-input-placeholder {  
color:#fff!important;  
}
textarea.form-control {
	height:150px!important;
}
.btn-outline1 {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color:#fff;
	width:100%;
	font-weight:300;
    background: 0 0;
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.btn-outline1:hover,
.btn-outline1:focus,
.btn-outline1:active {
    border: solid 2px #fff;
    color: #B76060;
    font-weight: 400;
    background-color: #fff;
}  
button.btn-outline1 {
	padding: 11px 50px;
    font-size: 21px;
    width: 100%;
	background-color:rgba(0,0,0, 0.48);
}
/*-- /Contact Section --*/
/*-- Footer --*/
section.footer {
	background:url(../images/footer.png) repeat;
    background-attachment: fixed;
    background-position: center;
padding: 50px 0 30px 0;
    color: #fff;
}
section.footer h2{
	font-size:30px;
	font-weight:500;
	padding-bottom: 10px;
	text-transform:uppercase;
	font-family: 'Viga', sans-serif;
}
section.footer h4{
	font-size:25px;
	padding:20px 0;
	font-weight:500;
	font-family: 'Viga', sans-serif;
}
section.footer .contact-info i{
	    font-size: 19px;
    margin: 27px 20px 11px 25px;
    display: inline-block;
    top: 3px;
}
section.footer .contact-info p.p3{
	padding:0;
	display: inline-block;
	vertical-align: middle;
	    font-size: 16px;
	font-size:16px;
	font-weight: 300;
}
section.footer .contact-info p.p4 {
	padding:0;
	display:block;
	vertical-align: middle;
	font-weight: 300;
	font-size:16px;
	margin: -27px 0 0 80px;
}
section.footer .contact-info p.p3 a ,section.footer .contact-info  p.p4 a {
	text-decoration:none;
	color: #fff;
}
section.footer .contact-info i.glyphicon.glyphicon-envelope:hover ,section.footer .contact-info p.p3 a:hover ,section.footer .contact-info p.p4 a:hover {
	color: #fff;
}
.copyright p {
	text-align:center;
}
.footer-center p , .footer-right p {
	color: #fff;
       font-size: 14px;
    line-height: 33px;
    font-weight: 300;
}
.footer-right ul.social-icons {
	margin-top:20px;
}
.footer-right ul.social-icons li {
	margin-right: 3px;
}
section.footer .footer-center .form-control {
	border-radius:0px;	
	background-color: rgba(0, 0, 0, 0.46);
	color:#fff;
	text-align: center;
    font-size: 17px;
}
section.footer .footer-center  input::-webkit-input-placeholder {
color:#fff!important;
}
section.footer .footer-center  input:-moz-placeholder { /* Firefox 18- */
color:#fff!important;  
}
section.footer .footer-center  input::-moz-placeholder {  /* Firefox 19+ */
color:#fff!important;  
}
section.footer .footer-center  input:-ms-input-placeholder {  
color:#fff!important;  
}
button.btn-outline {
    border: solid 1px #fff;
    font-size: 18px;
    padding: 5px 10px;
    background:rgba(0, 0, 0, 0.45);
	width: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
button.btn-outline:hover,
button.btn-outline:focus,
button.btn-outline:active {
    border: solid 1px #fff;
    color: #000;
    background: #fff;
}
section.footer .footer-right ul.social-icons2 {
	list-style:none;
    padding-top: 20px;
}
section.footer .footer-right ul.social-icons2 li {
	display:inline;
	margin-right: 5px;
}
section.footer .footer-right ul.social-icons2 li a i.fa.fa-facebook {
	background-color:#3b5998;
	    width:42px;
    height:42px;
    line-height:44px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:21px;
	color:#fff;
	text-align: center;
    vertical-align: middle;	
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.footer .footer-right ul.social-icons2 li a i.fa.fa-twitter {
	background-color:#55acee;
	    width:42px;
    height:42px;
    line-height:44px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:17px;
	color:#fff;
	text-align: center;
    vertical-align: middle;
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.footer .footer-right ul.social-icons2 li a i.fa.fa-linkedin {
	background-color:#e68523;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:18px;
	color:#fff;
	width:42px;
    height:42px;
    line-height:42px;
	text-align: center;
    vertical-align: middle;
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.footer .footer-right ul.social-icons2 li a i.fa.fa-google-plus {
	background-color:#dc4e41;
	width:42px;
    height:42px;
    line-height:44px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:16px;
	color:#fff;
	text-align: center;
    vertical-align: middle;
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
section.footer .footer-right ul.social-icons2 li a i.fa.fa-facebook:hover {
	background-color:#002573;
}
section.footer .footer-right ul.social-icons2 li a i.fa.fa-twitter:hover {
	background-color:#004A82;
}
section.footer .footer-right ul.social-icons2 li a i.fa.fa-linkedin:hover { 
	background-color:#BB5E00;
}
section.footer .footer-right ul.social-icons2 li a i.fa.fa-google-plus:hover { 
	background-color:#8A0B00;
}
/*-- /Footer --*/
/*-- slide animations --*/
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
/*-- /slide animations --*/


/*-- responsive design --*/
@media(max-width:1600px){
.carousel , .carousel .item {
    height: 839px;
}
}

@media(max-width:1440px){
section.curriculum .video iframe {
    width: 580px;
    height: 335px;
}
.carousel, .carousel .item {
    height: 754px;
}
}

@media (max-width: 1366px) {
	.carousel, .carousel .item {
    height: 715px;
}
section.curriculum .video iframe {
    width: 560px;
    height: 324px;
}
}

@media (max-width: 1280px) {
	.carousel, .carousel .item {
    height: 670px;
}
section.curriculum .video iframe {
    width: 540px;
    height: 313px;
}
section.curriculum .curriculum-info h5 {
    margin: -58px 0 7px 75px;
}
section.about-us .about-info p {
    font-size: 16px;
}
section.our-services .serv-info p {
    font-size: 16px;
}
section.our-info img.img-responsive.main-img {
    margin-left: 70px;
    width: 500px;
}
section.curriculum p.cur1 {
	font-size:16px;
}
}

@media(max-width:1080px){
	.carousel, .carousel .item {
    height: 563px;
}
	section.our-info img.img-responsive.main-img {
    margin-left:10px;
    width: 450px;
}
section.our-info .info-details p {
    font-size: 16px;
}	
.nav>li>a {
    padding: 10px 30px;
}
section.about-us {
    padding: 70px 0 100px;
}
section.our-services {
	padding:50px 0;
}
section.top-bar a.logo {
	top:30px;
	left: 60px;	
}
section.top-bar ul.social-icons1 {
	top:25px;
	right: 95px;
}
section.our-info {
    padding: 50px 0 90px;
}
section.our-gallery {
	padding:50px 0;
}
section.curriculum {
	padding:50px 0;
}
section.curriculum .video iframe {
    width: 464px;
    padding-top: 0px;
    margin-top: 30px;
    height: 340px;
}
section.curriculum h4 {
    font-size: 20px;
}
section.curriculum .curriculum-info h5 {
	font-size: 18px;
}
section.footer h4 {
	text-align:center;
}
section.footer .footer-left .contact-info {
    margin-left: 350px;
    margin-bottom: 40px;
}
.footer-center p, .footer-right p {
    text-align: center;
}
.footer-center {
    padding-bottom: 25px;
}
.footer-right {
    text-align: center;
}
section.our-contacts {
    padding: 50px 0;
}
button.btn-outline {
	margin-top:20px;
}
section.footer .footer-center .form-control {
	height:40px;
}
}

@media (max-width: 1050px) {
.carousel, .carousel .item {
    height: 547px;
}
section.curriculum .video iframe {
    width: 450px;
    margin-top: 40px;
    height: 280px;
}
}

@media (max-width: 1024px) {
.carousel, .carousel .item {
    height: 533px;
}
section.about-us {
    padding: 50px 0;
}
section.our-services .serv-info {
    padding: 40px 0;
}
}

@media (max-width: 991px) {
	.carousel, .carousel .item {
    height: 516px;
}
.nav>li>a {
    padding: 10px 20px;
	font-size:18px;
}
section.top-bar a.logo {
    top: 34px;
    left: 50px;
}
section.top-bar ul.social-icons1 {
    top: 25px;
    right: 50px;
}
section.about-us {
    padding: 50px 0 70px;
}
section.our-info .info-details p {
    font-size: 14px;
}
.mygallery {
    margin: 0px 0;
}
section.footer .footer-left .contact-info {
    margin-left: 240px;
}
section.curriculum .video iframe {
	width: 100%;
    height: 400px;
}
section.curriculum h4 {
    text-align: center;
}
section.curriculum p.cur1 {
    text-align: center;
}
.curriculum-info {
    margin-left: 87px;
}
section.about-us .about-details {
    padding-bottom: 30px;
}
section.about-us .row.below {
    padding-top: 0px;
}
section.about-us .about-info p {
    font-size: 15px;
}
section.our-contacts p.text-center {
	padding:0 0 50px;
}
}


@media (max-width:900px) {
.carousel, .carousel .item {
    height: 468px;
}
section.footer .footer-left .contact-info {
    margin-left: 230px;
}
section.about-us p.text-center, section.our-services p.text-center, section.our-info p.text-center, section.our-gallery p.text-center, section.our-blog p.text-center, section.curriculum p.text-center, section.our-contacts p.text-center {
	padding:0 0 50px;
}
section.footer h4 {
	padding:20px 0;
}
section.footer .contact-info i { 
	margin: 10px 20px 11px 25px;
}
}

@media (max-width: 800px) {
	.carousel, .carousel .item {
    height: 415px;
}
section.about-us .about-info p {
    font-size: 15px;
}
section.about-us .row.below {
    padding-top: 0px;
}
.about-info {
    padding-bottom: 40px;
}
section.our-info .info-details h4 {
	padding:0 0 20px;
}
.footer-center p, .footer-right p {
    text-align: center;
    font-size: 16px;
    line-height: 25px;
}
}

@media (max-width: 768px) {
	.carousel, .carousel .item {
    height: 398px;
}
.row.info-part {
    padding: 0 20px;
}
section.our-info .info-details p {
	padding-right: 15px;
}
section.our-info img.img-responsive.main-img {
    margin-left: 0px;
    width: 100%;
}
section.our-info .info-pics {
    margin-left: -16px;
}
section.curriculum .curriculum-info h5 {
    margin: -52px 0 7px 75px;
}
section.footer .footer-center .form-control {
	margin-bottom:-19px;
}
}

@media (max-width: 736px) {
section.top-bar a.logo {
	top: 55px;
}
section.about-us p.text-center, section.our-services p.text-center, section.our-info p.text-center, section.our-gallery p.text-center, section.our-blog p.text-center, section.curriculum p.text-center, section.our-contacts p.text-center {
    padding: 0 0 35px;
	font-size: 16px;
}
section.top-bar ul.social-icons1 {
    top: 50px;
}
ul.nav.navbar-nav {
    background-color: rgba(0, 0, 0, 0.55);
	text-align:center;
	margin-top: 0px;
	overflow-y: hidden;
}
.carousel, .carousel .item {
    height: 350px;
}
section.about-us .about-details {
    text-align: -webkit-center;
}
section.about-us .about-details img.img-responsive {
    width: 150px;
    padding-bottom: 20px;
}
section.our-info .info-pics {
    margin-left: 23px;
}
section.our-info .info-pics .col-lg-2.col-md-2.col-sm-2.info-images {
    padding: 0;
    margin: 0;
    width: 16%;
    float: left;
}
section.our-info .col-lg-6.col-md-6.col-sm-6.info-specs {
    padding: 0 20px;
}
section.footer .contact-info i {
    display: -webkit-inline-box;	
}
section.footer .footer-left .contact-info {
    margin-left: 210px;
}
section.map iframe.googlemaps {
	height:320px;
}
section.footer .contact-info p.p3 {
	margin: 0 -10px 0 15px;
}
}

@media (max-width: 667px) {
section.footer .footer-left .contact-info {
    margin-left: 155px;
}
.carousel, .carousel .item {
    height: 311px;
}
}

@media (max-width: 640px) {
section.footer .footer-left .contact-info {
    margin-left: 150px;
}
section.about-us h3.text-center, section.our-services h3.text-center, section.our-info h3.text-center, section.our-gallery h3.text-center, section.our-blog h3.text-center, section.curriculum h3.text-center, section.our-contacts h3.text-center {
    font-size: 35px;
    padding: 0px 0 20px;
}
section.footer .contact-info i {
    margin: 10px 0px 11px 25px;
}
section.footer .contact-info p.p4 {
	margin: -27px 0 0 62px;
}
}

@media (max-width: 600px) {
section.footer .footer-left .contact-info {
    margin-left: 128px;
}
.carousel, .carousel .item {
    height: 309px;
}
section.about-us p.text-center, section.our-services p.text-center, section.our-info p.text-center, section.our-gallery p.text-center, section.our-blog p.text-center, section.curriculum p.text-center, section.our-contacts p.text-center {
	font-size:15px;
}
section.our-services .serv-info p {
    font-size: 15px;
}
section.curriculum p.cur1 {
    font-size: 15px;
}
section.curriculum .curriculum-info p.cur2 {
	font-size:15px;
}
section.map iframe.googlemaps {
    height: 280px;
}
.curriculum-info {
    margin-left: 20px;
}
section.curriculum .video iframe {
    width: 100%;
    height: 320px;
}
section.our-contacts .form-control {
	font-size:17px;
}
button.btn-outline1 {
	font-size:18px;
}
section.footer .footer-center .form-control {
	margin-bottom: -15px;
}
}

@media (max-width: 568px) {
.curriculum-info {
    margin-left: 27px;
}
section.curriculum .video iframe {
	height:303px;
}
section.about-us p.text-center, section.our-services p.text-center, section.our-info p.text-center, section.our-gallery p.text-center, section.curriculum p.text-center, section.our-contacts p.text-center {
	font-size:16px;
	font-weight:300;
}
section.our-contacts p.text-center {
	padding-bottom:50px;
}
section.our-contacts .form-control {
	height: 40px;
	font-size:17px;
}
section.footer .footer-left .contact-info {
    margin-left: 135px;
}
section.map iframe.googlemaps {
    width: 100%;
    height: 250px;
}
.carousel, .carousel .item {
    height: 292px;
}
}

@media (max-width:480px) {
	section.about-us {
    padding: 30px 0 10px;
}
 section.our-info {
    padding: 40px 0 50px;
}
 section.curriculum {
    padding: 40px 0;
}
	.carousel, .carousel .item {
    height: 245px;
}
section.about-us h3.text-center, section.our-services h3.text-center, section.our-info h3.text-center, section.our-gallery h3.text-center, section.our-blog h3.text-center, section.curriculum h3.text-center, section.our-contacts h3.text-center {
	font-size:30px;
}
section.about-us p.text-center, section.our-services p.text-center, section.our-info p.text-center, section.our-gallery p.text-center, section.curriculum p.text-center, section.our-contacts p.text-center {
    font-size: 15px;
}
section.footer h2 {
    font-size: 25px;
}
section.footer {
	padding:30px 0;
}	
.footer-center p, .footer-right p {
	font-size:15px;
}
section.footer h4 {
    font-size: 23px;
}	
section.top-bar a.logo {
    top: 52px;
	left:40px;
}
section.top-bar a.logo h1 {
    font-size: 27px;
}
section.top-bar ul.social-icons1 {
    right: 30px;
}
section.our-info .info-pics {
    margin-left: 4px;
}
section.our-info .info-pics .col-lg-2.col-md-2.col-sm-2.info-images {
	width:33%;
}
section.about-us .about-info p {
    font-size: 14px;
}
section.our-services .serv-info p {
    font-size: 15px;
}
section.curriculum p.cur1 {
    font-size: 15px;
}
section.curriculum .curriculum-info p.cur2 {
	font-size: 15px;
}
section.curriculum .video iframe {
    height: 253px;
}
button.btn-outline1 {
    padding: 9px 50px;
    font-size: 20px;
}
section.footer .footer-left .contact-info {
    margin-left: 85px;
}
}

@media (max-width: 414px) {
section.about-us h3.text-center, section.our-services h3.text-center, section.our-info h3.text-center, section.our-gallery h3.text-center, section.curriculum h3.text-center, section.our-contacts h3.text-center {
    font-size: 35px;
	}	
.carousel, .carousel .item {
    height: 210px;
}
.navbar-toggle {
	margin-top:20px;
}
section.top-bar a.logo {
	top: 94px;
    left: 138px;
}
section.top-bar ul.social-icons1 {
	right: 0px;
    top: 17px;
    left: -165px;
}
section.about-us p.text-center, section.our-services p.text-center, section.our-info p.text-center, section.our-gallery p.text-center, section.curriculum p.text-center, section.our-contacts p.text-center {
    font-size: 15px;
}
section.curriculum .video iframe {
    height: 216px;
}
section.footer .footer-left .contact-info {
    margin-left: 55px;
	margin-bottom:18px;
}
.footer-center {
    padding-bottom: 0px;
}
section.about-us .about-details {
    padding-bottom: 0px;
}
}

@media (max-width: 384px) {
section.top-bar a.logo h1 {
    font-size: 30px;
}
section.top-bar a.logo {
    top: 84px;
    left: 117px;
}
section.about-us p.text-center, section.our-services p.text-center, section.our-info p.text-center, section.our-gallery p.text-center, section.curriculum p.text-center, section.our-contacts p.text-center {
	padding: 0 10px 30px;
}
.carousel, .carousel .item {
    height:194px;
}
section.curriculum .video iframe {
    height: 199px;
}
section.footer .footer-left .contact-info {
    margin-left: 25px;
}
section.footer {
	padding:50px 0;
}
section.footer .contact-info i {
    margin: 10px 0px 8px 25px;
}
}

@media (max-width: 375px) {
 section.about-us p.text-center, section.our-services p.text-center, section.our-info p.text-center, section.our-gallery p.text-center, section.curriculum p.text-center, section.our-contacts p.text-center {
    padding: 0 10px 30px;
    line-height: 1.8em;
}
.nav>li>a {
    padding: 6px 20px;
    font-size: 16px;
}  
 .about-info {
    padding-bottom: 0px;
}
.carousel, .carousel .item {
    height:191px;
}
section.about-us {
    padding: 35px 0 20px;
}
section.our-services .serv-img-details {
    padding: 30px 27px 0 0px;
}
.curriculum-info {
    margin-left: 7px;
}
section.curriculum .video iframe {
    height: 194px;
}
section.our-contacts .form-control {
	font-size:16px;
}
section.footer h2 {
    font-size: 25px;
}
section.footer .footer-left .contact-info {
    margin-left: 30px;
}
section.footer .footer-center .form-control {
	margin-bottom:-20px;
}
button.btn-outline1 {
    padding: 6px 50px;
}
section.top-bar ul.social-icons1 {
    right: 0px;
    left: -155px;
    top: 13px;
}
section.top-bar a.logo {
	top: 81px;
    left: 107px;
}
section.top-bar a.logo h1 {
    font-size: 33px;
}
section.our-info .col-lg-6.col-md-6.col-sm-6.info-specs {
    padding: 0 0px;
}
section.curriculum .curriculum-info p.cur2 {
    font-size: 14px;
	line-height:25px;
}
section.footer .contact-info p.p3 {
    margin: -4px -10px 0 15px;
	font-size:15px;
}
section.footer .contact-info p.p4 {
    margin: -24px 0 0 62px;
	font-size:15px;
}
.footer-center p, .footer-right p {
    font-size: 14px;
}
}

@media (max-width: 320px) {
	section.top-bar a.logo h1 {
    font-size: 30px;
}
section.our-info {
    padding: 17px 0 40px;
}
section.about-us {
    padding: 25px 0 10px;
}
section.our-services {
    padding: 30px 0;
}
section.curriculum {
    padding: 30px 0;
}
section.our-gallery {
    padding: 30px 0;
}
section.our-contacts {
    padding: 30px 0;
}
	.carousel, .carousel .item {
    height: 160px;
}
section.top-bar ul.social-icons1 {
    right: 0px;
    left: -125px;
    top: 12px;
}
.navbar-toggle {
    margin-top: 10px;
}
section.top-bar a.logo {
	left:83px;	
	top: 67px;
}
section.our-services .serv-img-details h4 {
	padding: 0 0 5px;
}
section.our-services .serv-img-details {
    padding: 17px 0px 0 0px;
    margin-left: -22px;
}
section.our-info .info-details p {
	line-height:25px;
}
section.curriculum p.cur1 {
	line-height:25px;
}
button.btn-outline1 {
	font-size:18px;
}
section.footer h2 {
    font-size: 20px;
	padding:0;
}
section.footer {
    padding: 33px 0;
}
section.footer h4 {
    font-size: 20px;
}
section.about-us h3.text-center, section.our-services h3.text-center, section.our-info h3.text-center, section.our-gallery h3.text-center, section.curriculum h3.text-center, section.our-contacts h3.text-center {
    font-size: 30px;
	padding: 20px 0 15px;
}
section.about-us .about-info p {
	line-height:25px;
}
section.our-services .serv-info p {
	line-height:25px;
	font-size:14px;
}
section.our-info .info-details h4 {
    font-size: 18px;
}
.curriculum-info {
    margin-left: 0px;
}
section.curriculum .video iframe {
    height: 163px;
    margin: 0;
}
section.curriculum .curriculum-info h5 {
    margin: -60px 0 5px 70px;
	font-size:17px;
}
section.curriculum .curriculum-info p.cur2 {
	margin: 0 0 30px 70px;
	font-size:14px;
}
section.map iframe.googlemaps {
    width: 100%;
    height: 200px;
}
section.our-contacts p.text-center {
    padding-bottom: 30px;
}
section.our-contacts .form-control {
	font-size:15px;
}
section.footer .footer-left .contact-info {
    margin-left:0px;
}
section.footer .contact-info p.p3 {
	margin: -5px -8px 0 11px;
    font-size: 15px;
}
section.footer .contact-info p.p4 {
	font-size:15px;
	margin: -23px 0 0 60px;
}
.footer-center p, .footer-right p {
	font-size:14px;
}
section.footer .footer-center .form-control {
	font-size:16px;
}
.copyright p {
	padding:0 10px;
	line-height:1.8em;
}
}
/*-- /responsive design --*/